extends admin-layout

block content   

    .container
        h1.main-title #{title}
        hr
        form(method='POST', action='/admin/products/add-product', enctype='multipart/form-data')
            .form-group
                label.input-label(for='title') Title
                input#title.form-control(type='text', placeholder='product title', name='title')
            .form-group
                label.input-label(for='description') Description
                textarea#title.form-control(placeholder='product description', name='description')
            .form-group
                label.input-label(for='price') Price
                input#price.form-control(type='text', placeholder='product price', name='price')
            .form-group
                label.input-label(for='discount') Discount
                input#price.form-control(type='text', placeholder='product discount', name='discount')
            .form-group
                label.input-label(for='stock') On Stock 
                br
                input#price(type='checkbox', value='true', name='stock', checked)                
            .form-group
                label.input-label(for='image') Image
                input#image.form-control(type='file', placeholder='product image', name='image')
            .form-group#previewImg
                label.input-label(for='') Image Preview
                br
                img#preview(src="", alt="" style="width:150px; height:auto;")
            .form-group.d-none#removeImg
                button.btn.btn-danger.btn-sm(type="button") Remove Image
            br
            .form-group
                button.btn.btn-success(type='submit') Add Product

