
footer
    .div.container.py-5
        .row
            .col-12.col-md
                img.img-fluid.footer-img(src='/img/cc.png')
            .col-6.col-md
                h5.footer-title Products
                ul.list-unstyled.text-small
                    li
                    a.custom-link1(href='#') Coffee
                    li
                    a.custom-link1(href='#') Candies
                    li
                    a.custom-link1(href='#') Tea
                    li
                    a.custom-link1(href='#') Other
            .col-6.col-md
                h5.footer-title Resources
                ul.list-unstyled.text-small
                    li
                    a.custom-link1(href='#') Resource
                    li
                    a.custom-link1(href='#') Resource name
                    li
                    a.custom-link1(href='#') Another resource
                    li
                    a.custom-link1(href='#') Final resource
            .col-6.col-md
                h5.footer-title Resources
                ul.list-unstyled.text-small
                    li
                    a.custom-link1(href='#') Business
                    li
                    a.custom-link1(href='#') Education
                    li
                    a.custom-link1(href='#') Government
                    li
                    a.custom-link1(href='#') Gaming
            .col-6.col-md
                h5.footer-title About
                ul.list-unstyled.text-small
                    li
                    a.custom-link1(href='#') Company
                    li
                    a.custom-link1(href='#') Locations
                    li
                    a.custom-link1(href='#') Privacy
                    li
                    a.custom-link1(href='#') Terms
        .col-12.col-md
            p.footer-copyright Copyright &copy; Coffee Shop, 2019. All Rights Reserved