extends layout

block content    

    .container            
        div.container.col-md-6
            h1.main-title #{title}
            form(method='POST', id='loginForm', action='/user/login')
                .form-group
                    label.input-label(for='email') E-mail
                    input#email.form-control(type='email', placeholder='User Email', name='email', required)
                .form-group
                    label.input-label(for='password') Password
                    input#password.form-control(type='password', placeholder='User Password', name='password', required)             
                br
                .form-group
                    button.btn.btn-success(type='submit') Login

